@charset "UTF-8";

@media screen and (min-width:512px){

/**************************
****** BASIS STYLES ******
**************************/

/********************
**** NAVIGATIE ****
*******************/

body > header{
    height: 15vw;
}


body > header img{
    width: 17vw;
  
}

/*******************
**** HERO IMAGE ****
********************/

#heroImage,
#heroImage .slider,
#heroImage .slider div{
    height: 40vw;
}

#heroImage p:first-of-type{
       font-size: 1.4rem;
    
}

/*************************
*****    PRODUCTS   ******
**************************/


/*************************
*****    SERVICES   ******
**************************/
    

/*************************
*****   ABOUT      ******
**************************/
    


/*************************
*****   FOOTER      ******
**************************/  
 
/*EINDE MEDIASCREEN */    
}